@import "tailwindcss";

:root {
  --background: #dcebe0;
  --foreground: #17231c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #17231c;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
